.footer {
    background-image: url("img/footer2.jpg");
    padding: 1px;
    height: 53px;
    text-align: center;
    /*background-repeat: no-repeat;*/
    /*background-size: 1440px;*/
    color: white;
    font-family: 'Sriracha', cursive;
    font-family: 'Lemonada', cursive;
    font-size: 9px;
    flex: 0 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;

}